
.body {
    background-color: rgb(38, 38, 38);
}

.navbar {
    background-color: rgb(38, 38, 38);
    top: 0;
    width: 100%;
    text-align: center;
}

.navbar li {
    display: inline-block;
    padding: 0 20px;
}

.navbar a {
    text-decoration: none;
    color: gold;
}

.banner {
    background-color: black;
    color: gold;
    margin-top: 25px;
    padding: 50px 0;
    text-align: center;
}

#bild {
    height: 200px;
    width: 200px;
    filter: drop-shadow(1px 1px 1px white);
}

.nere {
    background-color: rgb(38, 38, 38);
    bottom: 0;
    height: 100%;
    width: 100%;
    margin-bottom: 50px;
    padding: 25px 0;
    text-align: center;
}

#bil {
    height: 100px;
    width: 100px;
}

#bll {
    height: 100px;
    width: 50px;
}

#bdd {
    height: 100px;
    width: 100px;
}

#mitten {
    color: gold;
    font-size: 100px;
}

.bold {
    font-weight: 900;
    text-align: center;
}

.mittensektion {
    background-color: black;
    color: gold;
    padding: 20px 50px;
    text-align: center;

}

#greet ul {
    list-style-type: none;

}

